
@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url('../../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    src: url('../../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: url('../../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    src: url('../../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src: url('../../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 800;
    src: url('../../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 900;
    src: url('../../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}